extends layout

block content
    div(style="color:black")
        p counter is #{counter}
        br
        p total hits from everyone: #{views}
        br
        p individual user hit: #{user_view}
        p sid is #{sid}
            