extends layout

block title
    title= "Error 500"
block content
    h2#errorh2 You may think anything goes but this page actually is not properly implemented. Maybe later.
    img(src="https://40.media.tumblr.com/94465034675ed1a2e9df3196895030b1/tumblr_nnsjrusajT1smegxwo1_500.png")#error500