extends layout

block content
  h1= title
  p Welcome to #{title}
  
  #bulu_bulu
    p #{bulu_content}
  
  if !ajaxReq
    form#form-reflow(action='/', method='post')
      input#textinp(type="text", name="textinp")
      input#submit(type="submit", name="submit")
    
  if ajaxReq
    div#ajaxMsg
        p It actually works!
        p Data is "#{data}"
    
  block js
      script(src="javascripts/indexjs.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(src="javascripts/ajaxReq.js")