extends layout

block content
  h1= title
  p Welcome to #{title}
  
  #bulu_bulu
    p #{bulu_content}
    
  form#form-reflow(action='/ajaxReq', method='get', onsubmit="docreflow()")
    input#textinp(type="text", name="textinp")
    input#submit(type="submit", name="submit")
  
  if data
    div
      #{data}
  
  block js
      script(src="javascripts/indexjs.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(src="javascripts/ajaxReq.js")