body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(253, 254, 188);
}

a {
  color: #00B7FF;
}

#error-msg400 {
  color: black;
}

#error400src1 {
    display: inline-block;
    position: static;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#error400src2 {
  display: inline-block;
  position: absolute;
  margin-top: inherit;
  padding-left: inherit;
}

#error400src3 {
  display: flex;
  position: relative;
  margin-top: 40px;
  padding-left: inherit;
  margin-left: auto;
  margin-right: auto;
}

#error500 {
  background-repeat: no-repeat;
  background-size: 500px 500px;
}

#errorh2 {
  color: black;
  text-align: center;
}